.mainDiv{
    display: flex;
    margin: 80px 0 40px 100px;
}
.recentContainer{
    display: flex;
    width:60%;
    border: .5px solid gray;
    padding: 2px;
    border-radius: 7px;
    color: #4a4a4a;
    min-height: 200px;
    box-shadow: 0 2px 4px #00000026;
    background: #f6f8fb;
    border: 1px solid #d2d9e7;
}
.recentContents > h3{
    display: flex;
    margin: 10px;
    padding: 5px;
    font-weight: 500;
    letter-spacing: 0;
}
.advertisement{
    width: 30%;
    margin-left: 50px;
    color: #4a4a4a;
}