.uploadMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.mainContainerUpload{
    display:flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    justify-content: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.headingTextUpload{
    color: #4a4a4a;
}
.uploadButtonUpload{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 8px 24px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    border: 1px solid green;
    border-radius: 0.25rem;
    font-weight: 700;
    height: 35px;
    letter-spacing: 1px;
    overflow: visible;
    font-family: "Cabin", Sans-Serif;
    font-size: 100%;
    line-height: 1.15;
    background-color: rgb(6, 144, 77);
}
.uploadButtonUpload:hover{
    background-color: #6aac63;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: 300ms ease-in-out all;
}