.pastContestMain{
    display: flex;
    flex-direction: column;
}
.pastHeading{
    display: flex;
    margin: 40px 40px 10px 40px;
}
.pastContestitems{
    margin: 0 25px;
    padding:7px 0;
    font-weight: 500;
}